body{
    background-color: #111;
}
.header {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #fff;
}
form {
    border: thin solid #bbbbbb;
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
}
input[type="text"] {
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding-left: 3px;
}
button {
    border-radius: 7px;
    margin-left: 2px;
}
.github-profile {
    margin: 1rem;
}
img {
    width: 75px;
}
 .info {
    display: inline-block;
    margin-left: 12px;
}
.name {
    font-size: 1.25rem;
    font-weight: 800;
    color: #fff;
}
.company {
    font-size: 1.25rem;
    font-weight: 800;
    color: #fff;
}
.repos {
    font-size: 1.25rem;
    font-weight: 800;
    color: #fff;
}